.wrapper {
  text-align: center;
  width: 100vw;
  height:100vh;
}
.content{
  margin:  30vh;
 border: 1px solid black;
 display: inline-block;
 padding: 50px;
}

input{
  margin-bottom: 10px;
} 
.navbar.navbar-nav>li>a{
	color: #22a6b3;
	padding-right: 50px;
	text-decoration: none;
	text-align: center;
}
.navbar.navbar-nav:hover {
	text-decoration: none;
}
  
.navbar{
	background-color:#03A9F4;
}


.sidenav{
  
  /* display: none; */
  height: 100%;
  width: 250px;*/
  /* position: fixed; */
  z-index: 1;
  left: 0;
  background-color:#03A9F4;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: inline-block;
}

.sidenav a:hover {
  color: #535c68;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.footer-bottom{
  /* display:table-cell ;  */
  display: table-footer-group;
  vertical-align:bottom;
  border: 1px solid beige;

}

/*.container {
	height: 100%;
	width: 100%;
}

.sidebar {
	background-color: #9eaafe;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 250px;
	overflow: scroll;
}

*/
.dropdown-menu{
	background-color: #03A9F4;
	border-radius: 5px;
}
.dropdown-menu a:hover{
	background-color:#03A9F4; 
}
