 #loader {
  background-image:url("${pageContext.request.contextPath}/assets/img/Logo.png");
  background-size:100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index:1;
  width: 40px;
  height: 60px;
  margin: -75px 0 0 -75px;
 /* border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;*/
  width: 40px;
  height: 40px;
  -webkit-animation: animate 8s linear infinite;
  animation: animate 8s linear infinite;
	}
	
	@keyframes animate{
	0%{
			transform:rotateY(0deg);
	}
	100%{
			transform:rotateY(360deg);
	}
	} 
	@-webkit-keyframes animate {
	  0% { -webkit-transform:rotate(0deg); }
	  100% { -webkit-transform:rotate(360deg); }
	}
	
#loaderarea{
	height:39.7rem;
}	