


.wrapper {
    text-align: center;
    /* width: 100vw;
    height:100vh; */
}
.content{
   /* margin-top:300px;  */
   vertical-align: center;
  /* border: 1px solid black;*/
   display: inline-block;
   padding: 50px;
   padding-left: 30px;
}
.content_CJ{
	 vertical-align: center;
   border: 1px solid #239df8;
   display: inline-block;
   padding: 50px;
   padding-bottom: 40px;
   border-style: dashed;
}
.btn:hover{
	background-color: #66c1f2;
}
.navbar{
	background-color: #c7ecee;
	font-size: medium;
}
input{
    margin-bottom: 10px;
    
}
a { color: inherit;
    text-decoration: none; } 


/*  
Join-team customization
*/
.search-input {
    width: 800px;
}
.project-manager{
    width:800px;
    height:80px;
    border: 1px solid black;
    display: inline-block;  
}


.Request-button{
    float: right;
    margin-right: 15px;

}

.create{
	font-size: xx-large;
}

.panel-title
{
	font-size: x-large;
}

.table span{
	font-size:medium;
	float: left;
	color: #4a9afb; 
}

.option{
	padding:5px;
}


