@charset "ISO-8859-1";
body {
	width:100%;
	height:100%;
	display:inline-block;
	
}

.middle_align {
	align:center;
	margin:0 auto 10px;
              margin-left:30%;
              margin-right:40%;
              padding:3%;
}
	/*.img-src{
	          margin:right;
	}*/
 .login-form{
              background:lightgrey;
              /*margin:0 auto 10px;
              margin-left:30%;
              margin-right:40%;
              */
              /*text-align:Left;*/
              padding:0.5cm;
              
}

#myWorkContent{
      overflow-x: scroll;
    overflow-y: scroll;
}
.contact-us{
	width:30%
    /* text-align:bottom; */
}

#ibox {
	background-color:wheat;
}      
            
.passed_mesage{
	background:green;
	display:inline-block;
	min-width:64px;
	height:18px;
	line-height:18px;
	border-radius:24px;
	box-sizing:
	border-box;
	font-weight:350;
	color:white;
	text-align:center;
	
}

.failed_message {
	background-color:red;
	display:inline-block;
	min-width:64px;height:18px;
	line-height:18px;
	border-radius:24px;
	box-sizing:border-box;
	font-weight:400;
	color:white;
	text-align:center;
	
}        

.warn_message {
	background-color:gold;
	display:inline-block;
	min-width:64px;
	height:18px;
	line-height:18px;
	border-radius:24px;
	box-sizing:border-box;
	font-weight:400;
	color:white;
	text-align:center;
	
}



.orange{
	background-color:blue;
	
}

thead,tr,th,td {
text-align: center;
padding: 1%;
}


.loader {
	margin: auto;
	
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar{
	background-color: #0091EA;
}

.dropdown-menu a:hover{
	background-color:#03A9F4; 
}
