@import "https://fonts.googleapis.com/css?family=Roboto:100,300";
@import "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css";
@font-face {
  font-family: "ProximaNovaSoftW03-Semibold";
  src: url("//db.onlinewebfonts.com/t/251c35fe6eeec7ffa3d335357aabcbd0.eot");
  src: url("//db.onlinewebfonts.com/t/251c35fe6eeec7ffa3d335357aabcbd0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/251c35fe6eeec7ffa3d335357aabcbd0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/251c35fe6eeec7ffa3d335357aabcbd0.woff") format("woff"), url("//db.onlinewebfonts.com/t/251c35fe6eeec7ffa3d335357aabcbd0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/251c35fe6eeec7ffa3d335357aabcbd0.svg#ProximaNovaSoftW03-Semibold") format("svg");
}
body {
  width: 100%;
 /*min-height: auto;*/
  margin: 3em auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7cac9+0,92a8d1+100 */
  /*background: #f7cac9;*/
  /* Old browsers */
  /*background: -moz-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%);*/
  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%);*/
  /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(135deg, #f7cac9 0%, #92a8d1 100%);*/
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  /* font-family: ProximaNovaSoftW03-Semibold; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 5px 5px rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02);
}
h1 i {
  position: relative;
  font-size: 70px;
}

p {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-bottom: 2em;
  line-height: 30px;
}
p img {
  position: relative;
  top: 8px;
  right: 10px;
}

.aoyue-select {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  width: 330px;
  height: auto!important;
  border-bottom: 0px;
  border-radius: 3px;
  font-size: 12px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
}
.aoyue-select:not(:hover) > i.toggle.icon-arrow-down {
  display: block !important;
  color: black;
}
.aoyue-select:not(:hover) > i.toggle.icon-arrow-up {
  display: none !important;
}
.aoyue-select:not(:hover) label.option > input:not(:checked) ~ span.title {
  display: none !important;
}
.aoyue-select > i.toggle {
  position: absolute;
  z-index: 4;
  right: 1.5em;
  top: 1.6em;
  color: #ccc;
}

.aoyue-select .title{
	font-size: large;
}
.aoyue-select .title,
.aoyue-select .placeholder {
  position: relative;
  display: block;
  padding: 1.5em 2em;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: small;
}
.aoyue-select > input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  cursor: pointer;
}
.aoyue-select > input:checked ~ i.toggle.icon-arrow-down {
  display: none;
}
.aoyue-select > input:checked ~ i.toggle.icon-arrow-up {
  display: block;
}
.aoyue-select > input:checked div.options label.option .title {
  display: none !important;
}
.aoyue-select > input:not(:checked) {
  z-index: 4;
}
.aoyue-select > input:not(:checked) ~ label.option > span.title {
  display: none;
}
.aoyue-select > input:not(:checked) ~ i.toggle.icon-arrow-up {
  display: none;
}
.aoyue-select > input:not(:checked) ~ i.toggle.icon-arrow-down {
  display: block;
}
.aoyue-select > input:disabled {
  cursor: no-drop;
}
.aoyue-select > span.placeholder {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  color: #999;
  border-top: 0px;
}
.aoyue-select label.option {
  display: block;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: all 1s ease-out;
}
.aoyue-select label.option span.title {
  position: relative;
  z-index: 2;
  transition: background .3s ease-out;
}
.aoyue-select label.option span{
	background-color: #ffffff;
	border-radius: 5px;
	font-size: small;
	
}


.aoyue-select label.option span.title i.icon {
  padding-right: 8px;
  color: #92a8d1;
}
.aoyue-select label.option span.title:hover {
  color: #000000;
  /*background: rgba(255, 255, 255, 0.3);*/
  background-color:#c7ecee;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.aoyue-select label.option input {
  display: none;
}
.aoyue-select label.option input:checked ~ span.title {
  position: absolute;
  display: block;
  z-index: 3;
  top: 0px;
  font-size: 12px;
  background: #fff;
  border-top: 0px;
  box-shadow: none;
  color: inherit;
  width: 100%;
}
.aoyue-select label.option input:disabled ~ span.title {
  background: #f9f9f9 !important;
  color: #aaa;
}
.aoyue-select label.option input:disabled ~ span.title:hover {
  color: #aaa;
  background: none;
  cursor: no-drop;
}

.aoyue-select2 {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  width: 330px;
  height: 100%;
  border-bottom: 0px;
  border-radius: 3px;
  font-size: 12px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
}
.aoyue-select2 i.toggle {
  position: absolute;
  z-index: 4;
  right: 1.5em;
  top: 1.6em;
  color: #ccc;
}
.aoyue-select2 .title,
.aoyue-select2 .placeholder {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5em 2em;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.aoyue-select2 > label > input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  cursor: pointer;
}
.aoyue-select2 > label > input:checked {
  z-index: 2;
}
.aoyue-select2 > label > input:checked ~ i.toggle.icon-plus {
  display: none;
}
.aoyue-select2 > label > input:checked ~ i.toggle.icon-minus {
  display: block;
}
.aoyue-select2 > label > input:not(:checked) ~ i.toggle.icon-minus {
  display: none;
}
.aoyue-select2 > label > input:not(:checked) ~ i.toggle.icon-plus {
  display: block;
}
.aoyue-select2 > label > input:not(:checked) ~ label.option input:not(:checked) ~ .title {
  display: none !important;
}
.aoyue-select2 > label > input:disabled {
  cursor: no-drop;
}
.aoyue-select2 label > span.placeholder {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  color: #999;
  border-top: 0px;
}
.aoyue-select2 label.option {
  display: block;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: all 1s ease-out;
}
.aoyue-select2 label.option span.title {
  position: relative;
  z-index: 2;
  transition: background .3s ease-out;
}
.aoyue-select2 label.option span.title i.icon {
  padding-right: 8px;
  color: #92a8d1;
}
.aoyue-select2 label.option span.title:hover {
  color: #fff;
  background: rgba(146, 168, 209, 0.5);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.aoyue-select2 label.option input {
  display: none;
}
.aoyue-select2 label.option input:checked ~ span.title {
  position: absolute;
  display: block;
  z-index: 1;
  top: 0px;
  font-size: 12px;
  background: #fff;
  border-top: 0px;
  box-shadow: none;
  color: inherit;
  width: 100%;
}
.aoyue-select2 label.option input:disabled ~ span.title {
  background: #f9f9f9 !important;
  color: #aaa;
}
.aoyue-select2 label.option input:disabled ~ span.title:hover {
  color: #aaa;
  background: none;
  cursor: no-drop;
}

.dropdown-menu a:hover{
	background-color:#03A9F4; 
}

